Source: ros-kilted-easynav-nav2-bridge
Section: misc
Priority: optional
Maintainer: "Francisco Martín Rico" <fmrico@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-action-msgs <!nocheck>, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-easynav-common <!nocheck>, ros-kilted-easynav-interfaces, ros-kilted-easynav-system, ros-kilted-geometry-msgs, ros-kilted-nav-msgs <!nocheck>, ros-kilted-nav2-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-rclcpp-lifecycle <!nocheck>, ros-kilted-ros-workspace
Homepage: https://index.ros.org/p/easynav_nav2_bridge/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-easynav-nav2-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-easynav-interfaces, ros-kilted-easynav-system, ros-kilted-geometry-msgs, ros-kilted-nav2-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-ros-workspace
Description: Easy Navigation: Nav2 bridge exposing a nav2_msgs/action/NavigateToPose action server backed by EasyNav.
